.Courses {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    border-bottom-left-radius: cadetblue;
    border-bottom: 2px solid cadetblue;
}

.Course {
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}
.thumbnail{
    size:contain;
    width:60%;
    border-radius: 0.4in;
    border-bottom: 1px solid aquamarine;
}
.container{
    size:contain;
    text-align: center;
    position: relative;
    border-bottom: 0.5ex solid azure;
}

